/*
============================================
; Title: Assignment 9.2 Final: Card Game
; File Name: kerrey-card-game.css
; Author: Professor Krasso
; Date: 19 December 2021
; Modified By: Seth Kerrey
; Description: 
;   Styling for the 
;   kerrey-card-game.html file.
; Resources: 
;   CSS style came from guidance in the:
;       style guide,
;       buwebdev repo/web-231, &
;       "Web 231 Assign_9"
;   Assignment instructions provided
;   by Prof Krasso
===========================================
*/

body {
    font-size: 28px;
    padding-left: 20px;
}

#form-results {
    text-align: center;
}

#container {
    padding: 10px;
}

#card-example, #form-example, #form-results-example {
    width: 600px;
    margin: 3% auto 0;
}

/* -------------------------------- */

.player-card {
    text-align: center;
}

.card-title {

}

#player-card-container {

}